<div class="top-wrapper">
  <div class="top-header">
    <div class="top-header-left">
      <p>英語が話せるようになるには</p>
      <p>瞬間英会話がおすすめ！</p>
    </div>
    <div class="top-header-right">
      <div class="fas fa-arrow-up up-arrow faa-bounce animated"></div><div class="top-header-right-title">Sentencesから英文一覧画面へ！</div>
      <div class="test-title">（テストに挑戦するには、ログインが必要です）</div>
    </div>
  </div>
  <div class="top-main">
    <div class="top-main-left">
      <div class="top-main-title">英文一覧画面で学習しましょう！</div>
      <%= image_tag 'sentences.png', alt: "sentences画面です", class: "mypage-img" %>
    </div>
    <div class="top-main-middle">
      <div class="top-main-title">ランダムで問題が出題されます！</div>
      <%= image_tag 'test-sentences.png', alt: "test画面です", class: "mypage-img" %>
    </div>
    <div class="top-main-right">
      <div class="top-main-title">テスト結果が一覧で見れる！</div>
      <%= image_tag 'mypage.png', alt: "mypage画面です", class: "mypage-img" %>
    </div>
  </div>
</div>