.top-wrapper{
  height: 85vh;
  background-color: #F4F5F7;
  color: #333333;
}
.top-header{
  height: 25vh;
  display: flex;
}
.top-header-left{
  width: 50%;
  font-size: 5rem;
  text-align: center;
  line-height: 10vh;
}
.top-header-right{
  width: 50%;
}
.top-header-right-title{
  font-size: 3rem;
  padding-left: 60px;
}
.test-title{
  font-size: 2rem;
  padding: 5px 0 0 80px;
}
.top-main{
  height: 60vh;
  display: flex;
  text-align: center;
}
.top-main-left{
  width: calc(100% / 3);
  height: 60vh;
  background-color: #555555;
  color: white;
  margin: 0 10px;
  border-radius: 20px;
}
.top-main-title{
  font-size: 3rem;
  padding-top: 10px;
}
.top-main-middle{
  width: calc(100% / 3);
  height: 60vh;
  background-color: #555555;
  color: white;
  border-radius: 20px;
}
.mypage-img{
  width: 95%;
  height: 55vh;
  margin-top: 10px;
  border-radius: 20px;
}
.top-main-right{
  width: calc(100% / 3);
  height: 60vh;
  background-color: #555555;
  color: white;
  margin: 0 10px;
  border-radius: 20px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .top-header-left{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .top-header-right-title{
    font-size: 2.8rem;
    padding-left: 40px;
  }
  .test-title{
    font-size: 2rem;
    padding: 5px 0 0 60px;
  }

  .top-main-title{
    font-size: 2.1rem;
  }
  .mypage-img{
    width: 90%;
    height: 53vh;
    margin-top: 10px;
    border-radius: 20px;
  }

}


/* スマホ表示時 */
@media (max-width: 599px) {
  .top-wrapper{
    height: auto;
  }
  .top-header-left{
    width: 50%;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }
  .top-header-right-title{
    font-size: 1.8rem;
    padding-left: 0px;
  }
  .test-title{
    font-size: 1.2rem;
    padding: 5px 0 0 20px;
  }
  .top-main{
    display: block;
    height: auto;
  }
  .top-main-left{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .top-main-middle{
    width: 100%;
    height: auto;
    margin: 30px auto;
  }
  .top-main-right{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .mypage-img{
    width: 90%;
    height: 50vh;
    margin-top: 10px;
  }

}