.wrapper{
  height: 85vh;
  background-color: #F4F5F7;
}
.timer-area{
  height: 15vh;
  color: lightpink;
  font-size: 6rem;
  line-height: 15vh;
}
#log{
  text-align: center;
}
.sentence-area{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sentence-box{
  height: 42vh;
  width: 70%;
  font-size: 7rem;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  border: 5px inset;
}
.sentence-text{
  word-wrap: break-word;
  color: #444444;
}
.sentence-area-right{
  height: 42vh;
  margin-left: 50px;
}
#sentence{
  color: #444444;
}
.next-count{
  height: 14vh;
  line-height: 14vh;
  font-size: 3.5rem;
  text-align: center;
  color: lightskyblue;
}
.pass-count{
  height: 14vh;
  line-height: 14vh;
  font-size: 3.5rem;
  text-align: center;
  color: lightslategrey;
}
.total-count{
  height: 14vh;
  line-height: 14vh;
  font-size: 3.5rem;
  text-align: right;
  color: lightslategrey;
}

.sentence-bottom{
  height: 20vh;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 200px;
}
.pass-btn{
  font-size: 4.5rem;
  height: 10vh;
  width: 20%;
  border: 1px solid;
  line-height: 10vh;
  border-radius: 8px;
  color: #fff;
  background-color: lightgrey;
  transition: 1.0s ;
}
.pass-btn:hover{
  cursor: pointer;
  opacity: 0.5 ;
}
.next-btn{
  font-size: 4.5rem;
  height: 10vh;
  width: 20%;
  border: 1px solid;
  line-height: 10vh;
  margin-left: 20px;
  background-color: lightskyblue;
  color: #fff;
  border-radius: 8px;
  transition: 1.0s ;
}
.next-btn:hover{
  cursor: pointer;
  opacity: 0.5 ;
}
.start-btn{
  font-size: 3rem;
  height: 10vh;
  width: 10%;
  border: 1px solid;
  line-height: 10vh;
  margin-left: 20px;
  border-radius: 8px;
  background-color: lightpink;
  color: white;
  transition: 1.0s ;
}
.start-btn:hover{
  cursor: pointer;
  opacity: 0.5 ;
}
.reset-btn{
  font-size: 3rem;
  height: 10vh;
  width: 10%;
  border: 1px solid;
  line-height: 10vh;
  margin-left: 20px;
  border-radius: 8px;
  background-color: lightgreen;
  color: white;
  transition: 1.0s ;
  display: none;
}
.reset-btn:hover{
  cursor: pointer;
  opacity: 0.5 ;
}
.answer-count-area{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  background-color: lightblue;
}

.select-count{
  height: 50px;
  width: 97px;
  /* font-size: 3rem; */
  text-align: center;
}
.submit{
  font-size: 2rem;
  height: 50px;
  transition: 1.0s ;
}
.submit:hover{
  cursor: pointer;
  opacity: 0.5 ;
}
#result_answer_count{
  font-size: 3rem;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .sentence-bottom{
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .pass-btn{
    font-size: 3rem;
  }
  .next-btn{
    font-size: 3rem;
    margin-left: 10px;
  }
  .start-btn{
    font-size: 2.2rem;
    margin-left: 10px;
  }
  .reset-btn{
    font-size: 2.2rem;
    margin-left: 10px;
  }

}


/* スマホ表示時 */
@media (max-width: 599px) {
  .timer-area{
    font-size: 2.7rem;
  }
  .sentence-box{
    font-size: 3rem;
  }
  .sentence-area-right{
    margin-left: 5px;
  }
  .next-count{
    font-size: 1.8rem;
  }
  .pass-count{
    font-size: 1.8rem;
  }
  .total-count{
    font-size: 1.8rem;
  }
  .sentence-bottom{
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .pass-btn{
    font-size: 2.5rem;
  }
  .next-btn{
    font-size: 2.5rem;
    margin-left: 10px;
  }
  .start-btn{
    font-size: 1.6rem;
    margin-left: 10px;
  }
  .reset-btn{
    font-size: 1.6rem;
    margin-left: 10px;
  }
  .submit{
    font-size: 1.5rem;
    height: 50px;
  }
  .select-count{
    height: 50px;
    width: 60px;
    text-align: center;
  }
  #result_answer_count{
    font-size: 1.6rem;
  }
  

}