.sentence-wrapper{
  height: auto;
  min-height: 85vh;
  background-color: #F4F5F7;
  color: #444444;
}
.sentence-header{
  /* display: flex;
  justify-content: center; 
  height: 10vh; */
  padding-top: 20px;
  text-align: center;
}
.sentence-link a{
  font-size: 3rem;
  text-decoration: none;
  color: lightpink;
  display: block;
  margin: 20px auto 0;
  width: 30%;
  transition: 1.0s ;
}
.sentence-link a:hover{
  cursor: pointer;
  opacity: 0.5 ;
}
.sentence-title{
  font-size: 4rem;
}
.sentence-main{
  font-size: 3rem;
  display: flex;
  margin-top: 50px;
}
.japanese-area{
  padding-left: 100px;
}
.japanese-text{
  height: 120px;
  background-color: #fff;
  border: 5px inset;
  margin-bottom: 10px;
}
.english-area{
  padding: 0 30px;
}
.english-text{
  height: 120px;
  background-color: #fff;
  border: 5px inset;
  margin-bottom: 10px;
}
.number{
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 75px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #888888;
  color: #fff;
}


@media (max-width: 599px) {
  .sentence-link a{
    font-size: 3rem;
    text-decoration: none;
    color: lightpink;
    display: block;
    margin: 20px auto 0;
    width: 70%;
  }
  .sentence-main{
    font-size: 2.5rem;
  }
  .japanese-area{
    padding-left: 0px;
  }
  .english-area{
    padding: 0px;
  }


}