.user-wrapper{
  width: 100%;
  height: auto;
  min-height: 85vh;
  background-color: #F4F5F7;
  display: flex;
  color: #444444;
}
.user-left{
  width: 60%;
}
.user-left-title{
  font-size: 4rem;
  text-align: center;
  height: 7vh;
}
.user-box-area{
  height: auto;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
}
.user-box{
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
  height: 25vh;
  margin: 10px 0 0 20px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.user-box-left{
  width: 50%;
}
.result-date{
  height: calc(25vh / 2);
  display: block;
  font-size: 2rem;
}
.result-phrase{
  height: calc(25vh / 2);
  display: block;
  font-size: 3rem;
}
.user-box-right{
  width: 50%;
}
.delete-answer-count{
  height: calc(25vh / 2);
  display: inline-block;
  font-size: 2rem;
  margin-left: 60px;
  color: #444444;
  text-decoration: none;
}
.result-answer-count{
  height: calc(25vh / 2);
  display: block;
  font-size: 3rem;
  margin-left: 30px;
  text-align: center;
}
.times{
  font-size: 1.5rem;
  display: inline-block;
  padding-left: 5px;
}
.user-right{
  display: flex;
  justify-content: center;
  width: 40%;
  text-align: center;
  background-color: #fff;
  margin-right: 20px;
  height: 90vh;
}
.user-right-title{
  height: 7vh;
  font-size: 4rem;
  border-bottom: 5px groove;
}
.user-right-phrase-area{
  font-size: 3rem;
  width: calc(100% / 3);
  border: 5px inset;
}
.user-right-phrase{
  height: 7vh;
  margin-top: 10px;
  border-bottom: 5px groove;
}
.user-right-best-area{
  font-size: 3rem;
  width: calc(100% / 3);
  border: 5px inset;
}
.user-right-best{
  height: 7vh;
  margin-top: 10px;
  border-bottom: 5px groove;
}
.user-right-average-area{
  font-size: 3rem;
  width: calc(100% / 3);
  border: 5px inset;
}
.user-right-average{
  height: 7vh;
  margin-top: 10px;
  border-bottom: 5px groove;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .result-date{
    font-size: 1.5rem;
  }
  .result-phrase{
    font-size: 2.2rem;
  }
  .delete-answer-count{
    font-size: 1.5rem;
  }
  .result-answer-count{
    font-size: 2.2rem;
  }
  .user-right-title{
    font-size: 2.7rem;
  }
  .user-right-phrase-area{
    font-size: 2.5rem;
  }
  .user-right-best-area{
    font-size: 2.5rem;
  }
  .user-right-average-area{
    font-size: 2.5rem;
  }
  .user-box{
    background-color: #fff;
    border-radius: 10px;
    width: 30%;
    height: 25vh;
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }


}

/* スマホ表示時 */
@media (max-width: 599px) {
  .user-left{
    width: 55%;
  }
  .user-left-title{
    font-size: 3rem;
  } 
  .user-box{
    width: 40%;
    height: 20vh; 
  }
  .user-box-left{
    width: 50%;
  }
  .result-date{
    height: calc(20vh / 2);
    font-size: 1rem;
  }
  .result-phrase{
    height: calc(20vh / 2);
    font-size: 1.8rem;
  }
  .delete-answer-count{
    height: calc(20vh / 2);
    font-size: 1rem;
    margin-left: 50px;
  }
  .result-answer-count{
    height: calc(20vh / 2);
    font-size: 1.8rem;
  }
  .times{
    font-size: 1rem;
  }
  .user-right{
    margin-right: 30px;
    height: 93vh;
  }
  .user-right-title{
    line-height: 7vh;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .user-right-phrase-area{
    font-size: 1.8rem;
  }
  .user-right-best-area{
    font-size: 1.8rem;
  }
  .user-right-average-area{
    font-size: 1.8rem;
  }



}